.morg-generated-statement-body {
  background-color: #F4FDFD;
  padding: 0.5em;
}
.morg-generated-statement-header {
  padding: 0.5em;
  background-color: #E3FDFD;
}
.morg-generated-proof {
  background-color: #F4F8F8;
  padding: 0.5em;
}